* {
  margin: 0;
  padding: 0;
}
body {
  background: #000;
  font-family: PingFang SC,Microsoft YaHei,Arial,Helvetica Neue Light,Source Han Sans CN,sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.body-wrap {
  overflow: hidden;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  background: #000;
}
.play-area {
  width: 1150px;
  height: 723px;
  margin: 0 auto;
  background: url(../img/star.png) no-repeat;
  background-position: 710px 100px;
}
.slogen {
  margin: 15px 0;
}
.player-wrap {
  position: relative;
  float: left;
  width: 748px;
  height: 461px;
  border: 8px solid #F9BE00;
  border-top-width: 12px;
  border-bottom-width: 12px;
  border-radius: 8px;
  background: #000;
}
.watch-count {
  position: absolute;
  top: 13px;
  left: 13px;
  color: #fff;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.5);
  padding: 3px 15px 3px 20px;
  border-radius: 10px;
}
.watch-count:before {
  content: '';
  display: block;
  position: absolute;
  left: 10px;
  top: 6px;
  width: 6px;
  height: 6px;
  background: #F9BE00;
  border-radius: 3px;
}
/*.player-logo {
  position: absolute;
  top: 13px;
  right: 16px;
  width: 130px;
}*/

@keyframes loveFly {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    top: -80px;
    left: -15px;
    opacity: 0.66;
    transform: scale(0.8);
  }
  100% {
    top: -120px;
    left: 0;
    opacity: 0;
    transform: scale(0.5);
  }
}
@keyframes loveFlyOppo {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    top: -80px;
    left: 15px;
    opacity: 0.66;
    transform: scale(0.8);
  }
  100% {
    top: -120px;
    left: 0;
    opacity: 0;
    transform: scale(0.5);
  }
}

.count-love {
  width: 80px;
  position: absolute;
  bottom: 70px;
  right: 20px;
  text-align: center;
  cursor: pointer;
}
.count-love .love-clickable {
  position: relative;
  z-index: 1;
  transition: 0.2s;
}
.count-love .love-clickable:hover {
  transform: scale(1.1);
}
.love-copy-wrap {
  position: absolute;
  top: 5px;
  left: 25px;
}
.count-love .love-copy {
  position: absolute;
}
.count-love .love-copy.love-fly-1 {
  animation: loveFly 3s infinite;
}
.count-love .love-copy.love-fly-2 {
  animation: loveFlyOppo 3s infinite .5s;
}
.count-love .love-copy.love-fly-3 {
  animation: loveFly 3s infinite 1s;
}
.count-love .love-copy.love-fly-4 {
  animation: loveFlyOppo 3s infinite 1.5s;
}
.count-love .love-copy.love-fly-5 {
  animation: loveFly 3s infinite 2s;
}
.count-love .love-copy.love-fly-6 {
  animation: loveFlyOppo 3s infinite 2.5s;
}
.count-love p {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 10px;
}
.buy-ticket {
  float: right;
  width: 350px;
  margin: 330px 20px 0 0;
  text-align: center;
}
.buy-ticket p {
  text-align: left;
  color: #F9BE00;
  font-size: 24px;
  margin-bottom: 15px;
}
.buy-ticket ul li {
  float: left;
  margin-right: 6px;
}
.buy-ticket ul li .time-box {
  display: inline-block;
  width: 49px;
  height: 49px;
  line-height: 49px;
  border: 3px solid #EA294E;
  border-radius: 8px;
  background: #000;
  color: #F9BE00;
  font-size: 34px;
}
.buy-ticket ul li span {
  display: inline-block;
  font-size: 18px;
  color: #fff;
}
.buy-ticket button {
  width: 210px;
  height: 50px;
  background: #F9BE00;
  outline: none;
  border: none;
  color: #000;
  border-radius: 8px;
  font-size: 24px;
  margin-top: 12px;
  cursor: pointer;
}

.award-area {
  width: 940px;
  margin: 0 auto;
  padding: 0 105px;
}
.award-title {
  margin-top: 60px;
}
.award-title img {
  display: block;
  margin: 0 auto;
}
.award-rules ul li {
  margin-top: 30px;
  margin-bottom: 70px;
  position: relative;
}
.award-rules ul li:last-child {
  margin-bottom: 100px;
}
.award-rules ul li img.rule-title-img {
  float: left;
  position: relative;
  top: -8px;
  margin-right: 20px;
}
.award-rules ul li img.add-weibo {
  position: absolute;
  right: 20px;
  top: 50px;
}
.award-rules ul li img.qr-code {
  position: absolute;
  width: 64px;
  right: 40px;
  top: 55px;
}
.award-rules ul li p {
  color: #fff;
}
.award-rules ul li p.rule-content {
  color: #959595;
  font-weight: 300;
}
.award-rules ul li p.rule-title {
  display: inline-block;
  width: 145px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  border-bottom: 1px solid #F9BE00;
  margin-bottom: 12px;
}
.award-rules ul li p.rule-content {
  clear: both;
  font-size: 18px;
  line-height: 26px;
  margin-left: 57px;
  width: 740px;
}
.award-lists {
  margin-top: 34px;
  text-align: center;
}
.award-lists ul li {
  display: inline-block;
  margin: 0 20px;
}
.award-lists ul li p {
  margin-top: 12px;
  background: #F9BE00;
  font-size: 18px;
  line-height: 25px;
}

.concert-trip-wrap {
  margin-top: 40px;
  padding-bottom: 100px;
  background: url(../img/bg1.png) no-repeat center center;
}
.concert-trip {
  overflow: hidden;
  width: 1150px;
  padding-bottom: 10px;
  margin: 0 auto;
}
.trip-title {
  margin-top: 60px;
}
.trip-title img {
  display: block;
  margin: 0 auto;
}
.trip-body {
  margin-top: 80px;
  text-align: center;
}
.trip-body ul li {
  width: 303px;
  float: left;
  margin-left: 18px;
}
.trip-body ul li:first-child {
  margin-left: 100px;
}
.trip-body ul li:first-child span {
  color: #fff;
}
.trip-body ul li:first-child img {
  opacity: 1;
}
.trip-body ul li img {
  display: inline-block;
  margin-bottom: 33px;
  opacity: .5;
}
.trip-body ul li span {
  color: #BDBBBD;
  font-size: 24px;
  margin-left: 20px;
  position: relative;
  top: -43px;
}
.trip-body ul li p {
  font-size: 18px;
  color: #fff;
  text-align: left;
  line-height: 26px;
}
.trip-body ul li p.future-text {
  color: #555;
}
.trip-body ul li strong {
  position: absolute;
  top: 0;
  left: 100px;
  color: #666;
  font-size: 150px;
}
.trip-body ul li .trip-box-active {
  width: 306px;
  height: 176px;
  background: url(../img/trip-box-active.png) no-repeat;
  padding: 10px 0 20px 46px;
}
.trip-body ul li .trip-box {
  position: relative;
  width: 307px;
  height: 179px;
  background: url(../img/trip-box.png) no-repeat;
  padding: 10px 0 20px 46px;
}
.trip-point {
  clear: both;
  padding: 0 100px;
  margin-top: 20px;
}
.trip-point ul li {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #F9BE00;
  margin: 0 5px;
}
.trip-point .curr-point, .trip-point .future-point {
  position: relative;
  top: 5px;
  width: 21px;
  height: 21px;
  border-radius: 100%;
  background: #F9BE00;
}
.trip-point .curr-point:before, .trip-point .future-point:before {
  content: '';
  position: relative;
  top: -4px;
  left: -4px;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 2px solid #F9BE00;
}
.trip-point .curr-point {
  background: #F02D50;
}
.trip-point .triangle-point {
  position: relative;
  top: 2px;
  border: 8px solid transparent;
  border-left: 16px solid #F9BE00;
  width: 0;
  height: 0;
  border-radius: 0;
  background: transparent;
}

.time-line {
  background: url(../img/bg2.png) center bottom no-repeat;
}
.time-title {
  margin-top: 60px;
}
.time-title img {
  display: block;
  margin: 0 auto;
}
.time-body {
  margin-top: 25px;
}
.time-body img {
  display: block;
  margin: 0 auto;
  padding-bottom: 50px;
}

.friend-area img {
  display: block;
  margin: 40px auto;
}

.footer {
  width: 100%;
  margin: 60px auto 0 auto;
  background: #222;
}
.footer .friendShip {
  overflow: hidden;
  border-bottom: 1px solid #2e2e2e;
  text-align: center;
}
.footer .friendShip .friendMember {
  display: inline-block;
  line-height: 90px;
  text-align: center;
  color: #9a9a9a;
  font-size: 16px;
  margin: 0 50px;
}
.footer .friendShip .friendMember a {
  color: #9a9a9a;
}
.footer .friendShip .friendMember a:hover {
  color: #FABE00;
}
.footer .about {
  text-align: center;
}
.footer .about ul li {
  display: inline-block;
  font-size: 12px;
  margin: 10px 20px;
}
.footer .about ul li a {
  color: #595959;
}
.footer .about ul li a:hover {
  color: #FABE00;
}
.footer .contact {
  text-align: center;
  padding-bottom: 10px;
}
.footer .contact span {
  display: inline-block;
  font-size: 12px;
  color: #595959;
  margin: 0 7px;
}
